@CHARSET "UTF-8";

.tictactoe-board {
	margin-left: 200px;
	margin-top:100px;
	width: 500px;
	height: 500px;
	perspective: 2000px;
}

.tictactoe-board > div {
	transform: rotateX(50deg);
	height:100%;
}

.tictactoe-board div.row {
    border-left: solid;
    border-right: solid;
    height: 33%
}

.tictactoe-board div.row:first-child, .tictactoe-board div.row:last-child {
    border-style: solid;
}
.tictactoe-board div.row .column {
	height: 100%;
}
.tictactoe-board div.row .column:nth-child(2) {
    border-left: solid;
    border-right: solid;
}

.tictactoe-board .column.marked-x {
	background-image: url(../images/tic-tac-toe-X.jpg);
	background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.tictactoe-board .column.marked-o {
	background-image: url(../images/tic-tac-toe-O.jpg);
	background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
